// Variabel
// --------------------
@import "bootstrap/scss/bootstrap";
$primary-color: #1f70ff;
$tint-color: #8fb8ff;
$shades-color: #030b19;
$font-stack: "mulish-400", sans-serif;
$fade-in-duration: 1s; // Durasi animasi fade-in
$border-roundness: 50px;

//font
@font-face {
  font-family: "mulish-400";
  src: url("../assets/fonts/Mulish/Mulish-Regular.ttf");
}
@font-face {
  font-family: "mulish-500";
  src: url("../assets/fonts/Mulish/Mulish-Medium.ttf");
}
@font-face {
  font-family: "mulish-600";
  src: url("../assets/fonts/Mulish/Mulish-SemiBold.ttf");
}
@font-face {
  font-family: "mulish-700";
  src: url("../assets/fonts/Mulish/Mulish-Bold.ttf");
}
.mulish-400 {
  font-family: "mulish-400", sans-serif;
}
.mulish-500 {
  font-family: "mulish-500", sans-serif;
}
.mulish-600 {
  font-family: "mulish-600", sans-serif;
}
.mulish-700 {
  font-family: "mulish-700", sans-serif;
}

// Reset/Normalize (Opsional)
// --------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

//===================
//==== Animation ====
//===================

// Base Styles
// --------------------
body{
  font-family: $font-stack;
  color: $primary-color;
  height: 100vh;
  overflow-x: hidden;
}
.body-content-custom {
  // height: 100vh;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.61) 50%, rgba(0, 0, 0, 0.15) 100%),
    url("../assets/images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  // overflow-x: hidden;
}
// ===============================
// ===== general components ======

.btn-primary {
  cursor: pointer;
  border: none;
  background-color: $primary-color;
  color: white;
  padding: 1rem 2rem;
  font-size: 2.5rem;
  align-self: center;
  transition: ease-in 0.3s;
  &:hover,
  &:active {
    background-color: $tint-color;
  }
}

.btn-secondary {
  cursor: pointer;
  border: none;
  border-radius: $border-roundness;
  padding: 1.5rem 8rem;
  font-size: 2.5rem;
  background-color: transparent;
  transition: ease-in 0.3s;
  box-shadow: inset 0 0 0 3px $tint-color;
  &:hover,
  &:active {
    background-color: $tint-color;
    color: #fff;
  }
}

.btn-sm {
  padding: 1.5rem 3rem;
}

//===================
//==== Header =====
//===================
header {
  a {
    text-decoration: none;
    &:link,
    &:visited {
      color: $shades-color;
      transition: ease-in 0.3s;
    }
    &:hover,
    &:active {
      color: $tint-color;
    }
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  padding-top: 20px;
  font-size: 2.5rem;
  .logo {
    display: flex;
    align-items: center;
    height: 10rem;
  }
  .navbar {
    .navbar-list {
      list-style: none;
      display: flex;
      gap: 5rem;
      align-items: center;

      li {
        a, button{
          letter-spacing: 0.25rem;
          font-size: 21px;
        }
      }
    }
  }

  .btn-secondary {
    padding: 15px 50px;
  }
}

/* Hamburger Menu Icon */
.hamburger-menu {
  display: none; // Hidden by default
  flex-direction: column;
  gap: 5px;
  cursor: pointer;

  span {
    display: block;
    height: 4px;
    width: 35px;
    background: $shades-color;
    border-radius: 10px;
  }
}

/* Sidebar styling */
.sidebar {
  position: fixed;
  top: 0;
  left: -100%; // Start off the screen
  width: 250px;
  height: 100%;
  background: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease-in-out;
  z-index: 100000;
}

/* Show sidebar */
.show-sidebar {
  left: 0; // Bring onto the screen
}

.sidebar-open ~ .main-content {
  // Adjust the selector based on your actual HTML structure
  filter: blur(5rem); // Adjust the blur value as needed
  transition: filter 0.3s ease-in-out;
  pointer-events: none; // Disable interaction with the content while the sidebar is open
  user-select: none; // Prevent text selection during the blur effect
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .hamburger-menu {
    display: flex; // Show the hamburger menu on smaller screens
  }
  header .navbar {
    display: none;
  }
  .logo .home {
    display: none;
  }
  .sidebar {
    display: flex; // Ensure sidebar is ready to display
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    .close-btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      border: none;
      background: none;
      font-size: 2rem; // Adjust as needed
      cursor: pointer;
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    display: none;
  }
}

.sticky-header {
  position: fixed;
  top: -20px;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1000; // High z-index to ensure the header is above other content
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); // Optional shadow for better visibility
  transition: background-color 0.3s; // Smooth transition for the background color

  a {
    color: $primary-color; // Update color to maintain contrast against the white background
  }
}
//===================
//==== Hero =====
//===================
.typing-cursor {
  animation: blink-caret 0.75s steps(1) infinite;
}

@keyframes blink-caret {
  50% {
    opacity: 0;
  }
}

.hero-section {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  padding: 3rem 20rem 0;
}
.call-to-action {
  display: flex;
  flex-direction: column;
  h1 {
    font-weight: 700;
    font-size: 5rem;
    margin-bottom: 5rem;
    line-height: 1.3;
    letter-spacing: 0.2rem;
  }
  .description {
    font-size: 2rem;
    margin-bottom: 3rem;
    line-height: 1.6;
    color: $shades-color;
    font-weight: 400;
    margin-bottom: 5rem;
  }

  .cta-buttons {
    display: flex;
    gap: 2rem;
    margin-bottom: 5rem;
  }
  .customers {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .customer-img img {
    height: 4.8em;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;
    transition: transform 0.3s ease; // Menambahkan transisi untuk efek halus

    &:hover {
      transform: translateY(-10px); // Menggerakkan gambar ke atas saat di-hover
    }
  }

  .customer-img img:last-child {
    margin: 0;
  }

  .delivered_text {
    span {
      color: $primary-color;
      font-weight: 800;
      font-size: 2rem;
    }
    font-size: 1.8rem;
    font-weight: 400;
    color: $shades-color;
  }
}
.hero-images {
  position: relative;
  img {
    position: absolute;
    max-width: 40%;
    max-height: 100%;
    transition: transform 0.3s ease; // Menambahkan transisi untuk animasi
  }
  max-height: max-content;
  .img-1 {
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    width: 50%;

    &:hover {
      transform: translate(-50%, -60%); // Bergerak ke atas saat di-hover
    }
  }
  .img-2 {
    transform: translate(-50%, -50%);
    top: 54%;
    left: 74%;

    &:hover {
      transform: translate(-40%, -50%); // Bergerak ke kanan saat di-hover
    }
  }
  .img-3 {
    transform: translate(-50%, -50%);
    top: 60%;
    left: 23%;

    &:hover {
      transform: translate(-60%, -50%); // Bergerak ke kiri saat di-hover
    }
  }
}

// For viewport widths from 769px to 1357px
@media (min-width: 769px) and (max-width: 1357px) {
  .hero-images {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    img {
      position: relative; // Changing from absolute to relative
      min-width: 20rem;
      max-width: 100%;
      height: auto; // Adjust height to maintain aspect ratio
      margin: 0 auto; // Center images horizontally within their container
      display: block; // Ensure images are block level to respect width/height
    }
    // Adjust the individual images if needed
    .img-1 {
      display: none;
    }
    .img-2,
    .img-3 {
      // Reset any transforms applied at other breakpoints
      transform: none;
      top: auto;
      left: auto;
      // Set a max-height if the images are too tall
      max-height: 300px; // Adjust this value as needed
      &:hover {
        transform: none;
      }
    }
  }
}

// SCSS adjustments for smaller screens
@media (max-width: 768px) {
  .call-to-action {
    margin-bottom: 2rem;
    h1 {
      text-align: center;
    }
    .description {
      text-align: center;
    }

    .cta-buttons {
      justify-content: center;
    }
    .customers {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
    }

    .customer-img img {
      height: 4.8em;
      width: 4.8rem;
      border-radius: 50%;
      margin-right: -1.6rem;
      border: 3px solid #fdf2e9;
      transition: transform 0.3s ease; // Menambahkan transisi untuk efek halus

      &:hover {
        transform: translateY(
          -10px
        ); // Menggerakkan gambar ke atas saat di-hover
      }
    }

    .customer-img img:last-child {
      margin: 0;
    }

    .delivered_text {
      span {
        color: $primary-color;
        font-weight: 800;
        font-size: 2rem;
      }
      font-size: 1.8rem;
      font-weight: 400;
      color: $shades-color;
    }
  }
  .hero-section {
    // Single column layout for the hero section
    grid-template-columns: 1fr;
    padding: 3rem 1rem; // Adjust padding for smaller screens if necessary
  }

  .hero-images img {
    // Reset the transform property for each image
    transform: none;
    position: static; // Removes absolute positioning
    max-width: 100%; // Allows the image to scale within its container
    height: auto; // Adjust height automatically to maintain aspect ratio
    margin-bottom: 2rem; // Adds space below each image
  }

  .hero-images {
    // Ensure the container for hero images allows for the natural flow of the images
    position: relative;
    width: 100%; // Set the width to take the full width of its container
    height: auto; // Adjust height automatically
    order: 2; // Optionally place hero images after the call to action if needed
    .img-1 {
      display: none;
    }
    .img-2,
    .img-3 {
      transform: none;

      &:hover {
        transform: none;
      }
    }
  }

  .call-to-action {
    order: 1; // Ensures Call to Action comes first
    // Other styles for Call to Action...
  }
}

//===================
//==== about-us section =====
//===================

.about-us {
  display: flex;
  flex-direction: row; // Default is row for larger screens
  align-items: center; // Ensure content is centered vertically
  justify-content: center; // Ensure content is centered horizontally

  .about-us-logo {
    padding: 3rem;
    flex-grow: 1;
    display: flex;
    align-items: center; // Center align the image
    justify-content: center; // Center justify the image

    img {
      width: 100%;
      max-width: 500px; // Set a max-width for larger displays
      height: auto; // Keep aspect ratio
    }
  }

  .about-us-description {
    padding: 3rem;
    font-size: 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50vw;
    background-color: white;
    h2 {
      font-size: 4rem;
      font-weight: bold;
      background: linear-gradient(
        45deg,
        #1f70ff,
        #8fb8ff
      ); // Define your gradient here
      -webkit-background-clip: text;
      background-clip: text;
      text-align: center;
      color: transparent; // Make the text color transparent to show the gradient
      display: inline-block; // Ensure the background spans the text only
    }
    p {
      line-height: 1.6;
    }
  }
}

// Responsive adjustments with media query
@media (max-width: 768px) {
  .about-us {
    flex-direction: column;
    align-items: stretch; // Stretch children to match width
    .about-us-logo {
      order: 2; // Image below text on smaller screens
      max-width: none; // Remove max-width restriction
      background-color: none;
      padding: 1rem;
    }

    .about-us-description {
      order: 1; // Text above image on smaller screens
      max-width: none; // Remove max-width restriction
      padding: 1rem;
      h2 {
        text-align: center; // Center the heading on smaller screens
      }
    }
  }
}

// Additional adjustments for overlapping issue
// Ensure the hero section doesn't overlap with the About Us section
.hero-section {
  // other styles...
  margin-bottom: 3rem; // Add space below the hero section
}

//===================
//==== pricing section =====
//===================

.pricing-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  .border-radius {
    border-radius: 1rem;
  }

  .flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.popular-card {
  border-color: #007bff; // Or any other styling you want for popular cards
}

.popular-badge {
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #dc3545; // Bootstrap's danger or any color you prefer
  border-radius: 0.25rem;
  z-index: 1; // Ensure it's above other elements
}

// Define the keyframes for the bounce effect
@keyframes bounce-in {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

// Apply the animation on hover
.hover-bounce:hover {
  animation: fade-in 0.5s ease;
  transform: scale(
    1.05
  ); // Define the scale factor according to the bounce effect you want
}


//===============================
//========contact section========
//===============================
.contact-form {
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .form-row {
      display: flex;
      gap: 1rem;

      .form-group {
        flex: 1;
      }
    }

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      label {
        font-weight: bold;
        font-size: 13px;
      }

      input[type="text"],
      input[type="email"],
      textarea {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        font-size: 14px;
      }

      textarea {
        resize: vertical;
        min-height: 100px;
      }
    }

    .submit-btn {
      padding: 0.75rem;
      background-color: blue;
      color: white;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
      font-size: 14px;
      text-transform: uppercase;

      &:hover {
        background-color: darkblue;
      }
    }
  }
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;

  .info-block {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
    border: 1px solid #eaeaea;
    border-radius: 0.5rem;

    .icon {
      // Add styles for your SVG icons here
      margin-bottom: 1rem;
    }

    h2 {
      margin: 0;
      color: #333;
      font-size: 16px !important;
    }

    p {
      margin: 0.5rem 0;
      color: #666;
      font-size: 14px;
    }

    p:last-of-type {
      color: blue;
      font-weight: bold;
    }
  }
}

.contact-us {
  .header {
    text-align: center;

    .title {
      color: #4a6cd0;
      font-size: 21px;
    }

    h1 {
      margin-top: 0.5rem;
      font-size: 2.5rem;
      color: #333;
    }

    .description {
      margin-top: 1rem;
      font-size: 19px;
    }
  }

  .content {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    background-color: white;
    padding: 40px;
  }
}

// Assuming .pricing-card is the class for your pricing card
.pricing-card {
  margin-bottom: 2rem; // Add more space below the pricing card
}

.main-title{
  font-size: 40px !important;
  font-weight: bold !important;
  margin-bottom: 45px !important;
  padding-top: 25px !important;
}

.section-cnt{
  padding: 50px 0 150px !important;
}

#about-us{
  width: calc(100% - 200px);
  margin: auto;
}