// Import Bootstrap functions for color manipulation, if needed
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

// Custom modal styling
.modal-dialog {
  // Adjust the max-width to control the modal's width
  max-width: 500px; // Example width, adjust as needed

  .modal-content {
    // Set the desired padding and potentially border-radius
    padding: 0;
    border-radius: 0.5rem; // Example radius, adjust as needed

    // Optional: Set a box-shadow for a "pop-out" effect
    @include box-shadow(0 5px 15px rgba($black, 0.3));

    .modal-header{
      padding: 15px;
    }

    .modal-title{
      font-size: 26px;
      text-align: center;
      margin: auto;
    }

    .btn-close{
      padding: 0;
      margin: 0;
      font-size: 15px;
      padding-right: 20px;
    }

    .modal-body{
      padding: 25px;

      .form-control{
        font-size: 16px;
      }

      button, span, a, label{
        font-size: 18px;
      }
    }
  }
}

// For a full-width modal on smaller screens
@media (max-width: 576px) {
  .modal-dialog {
    max-width: 100%;
    margin: 0.5rem;
  }

  .modal-content {
    // Adjust the border-radius and padding for smaller screens
    border-radius: 0.25rem;
  }
}
