.grid-service{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .item-grid{
        height: 100%;

        p{
            font-size: 16px;
            line-height: 1.2em;
        }

        h2{
            font-size: 22px;
        }

        h3{
            font-size: 20px;
        }

        button{
            font-size: 15px;
            padding: 6px 20px;
        }
    }
}