@import "./variable.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: $font-stack;
  color: $primary-color;
  height: 100vh;
  overflow-x: hidden;
}
.body-content-custom {
  // height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.61) 50%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    url("../../assets/images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  // overflow-x: hidden;
}
