@font-face {
  font-family: "mulish-400";
  src: url("../assets/fonts/Mulish/Mulish-Regular.ttf");
}
@font-face {
  font-family: "mulish-500";
  src: url("../assets/fonts/Mulish/Mulish-Medium.ttf");
}
@font-face {
  font-family: "mulish-600";
  src: url("../assets/fonts/Mulish/Mulish-SemiBold.ttf");
}
@font-face {
  font-family: "mulish-700";
  src: url("../assets/fonts/Mulish/Mulish-Bold.ttf");
}
.mulish-400 {
  font-family: "mulish-400", sans-serif;
}
.mulish-500 {
  font-family: "mulish-500", sans-serif;
}
.mulish-600 {
  font-family: "mulish-600", sans-serif;
}
.mulish-700 {
  font-family: "mulish-700", sans-serif;
}
