@import "./fonts.scss";
$primary-color: #1f70ff;
$tint-color: #8fb8ff;
$shades-color: #030b19;
$font-stack: "mulish-400", sans-serif;
$fade-in-duration: 1s; // Durasi animasi fade-in
$border-roundness: 50px;
