.about-us {
  display: flex;
  flex-direction: row; // Default is row for larger screens
  align-items: center; // Ensure content is centered vertically
  justify-content: center; // Ensure content is centered horizontally

  .about-us-logo {
    padding: 3rem;
    flex-grow: 1;
    display: flex;
    align-items: center; // Center align the image
    justify-content: center; // Center justify the image

    img {
      width: 100%;
      max-width: 500px; // Set a max-width for larger displays
      height: auto; // Keep aspect ratio
    }
  }

  .about-us-description {
    padding: 3rem;
    font-size: 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50vw;
    background-color: white;
    h2 {
      font-size: 4rem;
      font-weight: bold;
      background: linear-gradient(
        45deg,
        #1f70ff,
        #8fb8ff
      ); // Define your gradient here
      -webkit-background-clip: text;
      background-clip: text;
      text-align: center;
      color: transparent; // Make the text color transparent to show the gradient
      display: inline-block; // Ensure the background spans the text only
    }
    p {
      line-height: 1.6;
    }
  }
}

// Responsive adjustments with media query
@media (max-width: 768px) {
  .about-us {
    flex-direction: column;
    align-items: stretch; // Stretch children to match width
    .about-us-logo {
      order: 2; // Image below text on smaller screens
      max-width: none; // Remove max-width restriction
      background-color: none;
      padding: 1rem;
    }

    .about-us-description {
      order: 1; // Text above image on smaller screens
      max-width: none; // Remove max-width restriction
      padding: 1rem;
      h2 {
        text-align: center; // Center the heading on smaller screens
      }
    }
  }
}

#about-us {
  width: calc(100% - 200px);
  margin: auto;
}
